/* Liquid Crystal Theme - CSS Variables for GTK apps (NotNative, etc.) */

@define-color base #1a1a22;
@define-color text #ffffff;
@define-color selected-text #0096ff;
@define-color border #404050;
@define-color foreground #ffffff;
@define-color background #1a1a22;
